/*CMS P2BJ*/
.user-block .username, .user-block .description {
    display: block;
    margin-left: 0px;
}
.img-post img {
	max-width: 150px;
	max-height: 150px;
}

/*--------------------------------------------------------*/
.table thead th.text-middle {
	vertical-align: middle;
}
.box.box-white {
  border-top-color: #fff;
}

.form-control {
	border-radius: 3px;
}
input[type="checkbox"], input[type="radio"] {
	margin: 8px 0 0;
}
.form-horizontal .control-label {
	text-align: left;
}

.breadcrumb {
	border-bottom: 3px solid #DD4B39;
	background-color: #FFFFFF;
}

.no-flat {
	border-radius: 1px;
}

/* Box */
.box-header {
	background-color: #DD4B39;
	color: #fff;
}
.box-spacing {
	border-top: 2px solid #DD4B39;
	padding-top: 10px;
}

/* Panel */
.panel-toolbar {
  	margin-top: -15px;
  	margin-left: -15px;
  	margin-right: -15px;
	border-radius: 0px;
}

/* Modal */
.modal-header {
	background-color: #DD4B39;
	color: #fff;
}

.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #CE4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.toolbar {
	margin-bottom: 10px;
}

.btn-group.btn-block {
    display: table;
}
.btn-group.btn-block > .btn {
    display: table-cell;
}

.dropdown-menu {
	width: auto !important;
}

.post-image .post-image-add, .post-image .post-image-image {
	border: 2px #f5f5f5 dashed;	
	text-align: center;	
}

.post-image .post-image-add {
	line-height: 200px
}

.post-image .post-image-add a {
	font-size: 60px;
}

.post-image .post-image-list {
	text-align: center;
	height: 200px;
}

.post-image .post-image-list .post-image-image {
	padding: 10px;
	margin-bottom: 10px;
}

.post-image .post-image-list .post-image-image img {
	max-width: 100%;
	max-height: 120px;
}	

.label-tag {
	display: inline-block;
	font-weight: normal;
}